body {
  background: linear-gradient(210deg, orange,purple);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.player {
  background: linear-gradient(210deg, orange,purple );
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 1300px;
  width: 100%;
}

h1 {
  color: black;
  font-weight: bold;
  font-family: "DynaPuff", system-ui;
  font-size: 40px;
  text-decoration:line-through;
}
h2,
#track-title {
  color: black;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 30px;
  text-decoration: underline;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.controls {
  margin: 20px 0;
}

button {
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

button:hover {
  background-color: black;
  color: white;
}

.progress {
  margin-top: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 50px auto;
  height: 8px;
  border-radius: 4px;
  border: 2px solid black;
  margin-bottom: 15px;
  background-color: transparent;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(10, 9, 9, 0.545);
  overflow: visible;
  cursor: pointer;
}
.input-track {
  width: 50%;
  height: 33px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid black;
  color: white;
}
::placeholder {
  color: white;
}

.volume {
  margin: 20px 0;
  color: black;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 30px;
  text-decoration: underline;
}

.playlist {
  margin-top: 20px;
  text-align: left;
}

.playlist ul {
  list-style-type: none;
  padding: 0;
}

.playlist li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #61dafb;
  transition: background-color 0.2s;
}

.playlist li:hover {
  background-color: #4e545b;
}

.playlist li.active {
  background-color: #21a1f1; /* Highlight current track */
}

.volume-presets {
  margin-top: 20px;
}

.volume-presets button {
  margin: 5px;
}
