body {
  background: linear-gradient(210deg, orange, purple, orange);

  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.player {
  background: linear-gradient(210deg, purple, orange, purple);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 1300px;
  width: 100%;
}

h1 {
  color: black;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
 text-decoration: underline;
}
h2,#track-title {
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
   text-decoration: underline;
  }

img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.controls {
  margin: 20px 0;
}

button {
  background: rgba(46, 39, 39, 0.321);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

button:hover {
  background-color: black;
  color: white;
}

.progress {
  margin-top: 10px;
}

input[type="range"] {
  width: 100%;
}

.volume {
  margin: 20px 0;
  color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
   text-decoration: underline;
}

.playlist {
  margin-top: 20px;
  text-align: left;
}

.playlist ul {
  list-style-type: none;
  padding: 0;
}

.playlist li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #61dafb;
  transition: background-color 0.2s;
}

.playlist li:hover {
  background-color: #4e545b;
}

.playlist li.active {
  background-color: #21a1f1; /* Highlight current track */
}

.volume-presets {
  margin-top: 20px;
}

.volume-presets button {
  margin: 5px;
}
